<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login View</title>
  <link rel="stylesheet" href="login.css" />
  <link rel="stylesheet" href="codicon.css" />
</head>
<body>
  <label for="username">User Name:</label>
  <div class="input-container">
    <input type="text" id="username" /><br>
  </div>

  <label for="password">Password:</label>
  <div class="input-container">
    <input type="password" id="password" />
    <span class="toggle-password">
      <span class="eye-icon codicon codicon-eye" id="eye-open"></span>
      <span class="eye-icon codicon codicon-eye-closed hidden" id="eye-closed"></span>            
    </span>
  </div>

  <br\>

  <button id="LoginButton">Login</button>

  <script src="login.js" defer></script>
</body>
</html>
