<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="update.css">
  <title>Update View</title>
</head>
<body>
  <label for="fileSelect">Select File:</label>
  <select id="fileSelect">
    <option value="" disabled selected>--- Select ELF ---</option>
  </select>

  <button id="uploadButton">Upload</button>

  <div class="progress-container">
    <div id="progressBar" class="progress-bar">0%</div>
  </div>

  <script src="update.js"></script>
</body>
</html>
